{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sprache list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sprachenewdate</th>
                <th>Spracheeditdate</th>
                <th>Sprachename</th>
                <th>Sprachecode</th>
                <th>Spracheaktiv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('sprache_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.spracheNewdate %}{{ entity.spracheNewdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.spracheEditdate %}{{ entity.spracheEditdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.spracheName }}</td>
                <td>{{ entity.spracheCode }}</td>
                <td>{{ entity.spracheAktiv }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('sprache_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sprache_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('sprache_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
