<li><a href="{{ path('benutzer') }}">Benutzer</a></li>
<li><a href="{{ path('benutzergruppe') }}">Benutzergruppe</a></li>
<li><a href="{{ path('sprache') }}">Sprache</a></li>
<li><a href="{{ path('wortart') }}">Wortart</a></li>
<li><a href="{{ path('wort') }}">Wort</a></li>
<li><a href="{{ path('vokabel') }}">Vokabel</a></li>