{% extends 'LernparadiesLernparadiesBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Benutzergruppe</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Benutzergruppenewdate</th>
                <td>{{ entity.benutzergruppeNewdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Benutzergruppeeditdate</th>
                <td>{{ entity.benutzergruppeEditdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Benutzergruppelabel</th>
                <td>{{ entity.benutzergruppeLabel }}</td>
            </tr>
            <tr>
                <th>Benutzergruppelogin</th>
                <td>{{ entity.benutzergruppeLogin }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('benutzergruppe') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('benutzergruppe_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
