{% extends 'LernparadiesLernparadiesBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Benutzer list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Benutzernewdate</th>
                <th>Benutzereditdate</th>
                <th>Benutzerfriendlyurl</th>
                <th>Benutzeremail</th>
                <th>Benutzername</th>
                <th>Benutzerpasswort</th>
                <th>Benutzerlernerfolgspunkte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('benutzer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.benutzerNewdate %}{{ entity.benutzerNewdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.benutzerEditdate %}{{ entity.benutzerEditdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.benutzerFriendlyUrl }}</td>
                <td>{{ entity.benutzerEmail }}</td>
                <td>{{ entity.benutzerName }}</td>
                <td>{{ entity.benutzerPasswort }}</td>
                <td>{{ entity.benutzerLernerfolgspunkte }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('benutzer_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('benutzer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('benutzer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
