{% extends 'LernparadiesLernparadiesBundle::Default/index.html.twig' %}

{% block body -%}
    <h1>Benutzer</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Benutzernewdate</th>
                <td>{{ entity.benutzerNewdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Benutzereditdate</th>
                <td>{{ entity.benutzerEditdate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Benutzerfriendlyurl</th>
                <td>{{ entity.benutzerFriendlyUrl }}</td>
            </tr>
            <tr>
                <th>Benutzeremail</th>
                <td>{{ entity.benutzerEmail }}</td>
            </tr>
            <tr>
                <th>Benutzername</th>
                <td>{{ entity.benutzerName }}</td>
            </tr>
            <tr>
                <th>Benutzerpasswort</th>
                <td>{{ entity.benutzerPasswort }}</td>
            </tr>
            <tr>
                <th>Benutzerlernerfolgspunkte</th>
                <td>{{ entity.benutzerLernerfolgspunkte }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('benutzer') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('benutzer_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
